.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  gap: 15px;
}

.homeContainer span {
  color: greenyellow;
  font: 18px Arial;
  font-weight: bold;
}

.homeContainer footer {
  font: 12px Arial;
  font-style: italic;
  font-weight: bold;
  color: black;
}