.fa-star {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.stars {
    display: flex;
    align-items: center;
}

.checked {
    color: gold;
}

.unchecked {
    color: lightgray;
}

.fa-star-half-alt::before {
    content: "\f089"; /* Código unicode para meia estrela */
}


