   *{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

  html{
    margin: 0;
  }
  
  :root{
    --azul-escuro: #0A4273;
  }

@media only screen and (max-width: 600px) {
  .dinamic-hr{
    border: 1px solid rgba(7, 7, 86, 0.686);
    font-size: 0.95em;
    text-align: center;
    padding: 9px;
    margin: auto;
    border-radius: 0px;
    font-weight: 600;
    background-color: var(--azul-escuro);
    color: white;
  }
  
  main{
    font-family: Calibri;
    background-color: white;
    height: 100vh;
  }
  
  .body{
    padding-bottom: 20px;
    background-color: white;
  }
  
  .result-box{
    margin-bottom: 100px;
    max-width: 992px;
    margin: 20px auto;
    border: 0.5px solid rgba(0, 0, 0, 0.495);
    border-radius: 3px;
    box-shadow: 0px 0px 7px #00000016;
    background-color: white;
  }
  
  .header-result-box{
    padding: 12px 30px 12px 11px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.200);
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 1em;
  }
  
  .header-result-box h1{
    font-size: 1.3em;
  }
  
  .header-result-box h2{
    font-size: 1.1em;
  }
  
  .box-body{
    padding: 20px;
    height: 150px;
    display: flex;
    justify-content: space-between;
  }
  
  .profilepic-box{
    width: 80px;
    height: 100px;
    border-radius: 2px;
    background-size: cover;
  }
  
  .rating-box{
    margin-top: 30px;
    text-align: center;
    width: 187px;
  }

  .rating-box h1{
    display: none;
  }
  
  .stars{
    color: gold;
    font-size: 1.4em;
  }
  
  .highlights-box{
    display: none;
  }
/*   
  .highlights-box h1{
    text-align: left;
    font-size: 1.2em;
  }
  
  .highlights-list{
    margin-top: 15px;
    margin-left: 11px;
  } */
  
  .bio-box{
    display: none;
  }
  
  svg{
    stroke:currentColor;
    fill:currentColor;
    stroke-width:0;
    height:1.2em;
    width:2em;
      } 
  
  .box-footer{
    padding: 20px 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.200);
    text-align: center;
    display: block;
  }
  
  .box-footer a{
    text-decoration: none;
    color: black;
  }
  
  .contact-box{
    display: none;
    font-size: 3.5em;
    margin-right: 30px;
  }
  
  .see-profile-button{
    border: 1px solid black;
    padding: 8px 90px;
  }
  
  .see-profile-button:hover{
    background-color: var(--azul-escuro);
    color: white;
    border: 1px solid black;
    padding: 8px 90px;
    transition: 450ms;
  }
}

@media only screen and (min-width: 600px) {
  .dinamic-hr{
    border: 1px solid rgba(7, 7, 86, 0.686);
    font-size: 0.95em;
    text-align: center;
    padding: 9px;
    margin: auto;
    border-radius: 0px;
    font-weight: 600;
    background-color: var(--azul-escuro);
    color: white;
  }
  
  main{
    font-family: Calibri;
    background-color: white;
    height: 100vh;
  }

  .body{
    padding-bottom: 20px;
    background-color: white;
  }
  
  .result-box{
    margin-bottom: 100px;
    max-width: 992px;
    margin: 20px auto;
    border: 0.5px solid rgba(0, 0, 0, 0.495);
    border-radius: 5px;
    box-shadow: 0px 0px 7px #00000016;
    background-color: white;
  }
  
  .header-result-box{
    padding: 20px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.200);
    height: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
  .header-result-box h1{
    font-size: 1.3em;
  }
  
  .header-result-box h2{
    font-size: 1.1em;
  }
  
  .box-body{
    padding: 20px;
    height: 200px;
    display: flex;
    justify-content: space-between;
  }
  
  .profilepic-box{
    width: 100px;
    height: 125px;
    border-radius: 5px;
    background-size: cover;
  }
  
  .rating-box{
    text-align: center;
    width: 187px;
  }

  .rating-box h1{
    font-size: 1.2em;
  }
  
  .stars{
    margin-top: 20px;
    color: gold;
    font-size: 1.2em;
  }
  
  .highlights-box{
    width: 130px;
    font-size: 1em;
  }
  
  .highlights-box h1{
    text-align: left;
    font-size: 1.2em;
  }
  
  .highlights-list{
    margin-top: 15px;
    margin-left: 11px;
  }
  
  .bio-box{
    max-width: 330px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 180px;
    padding-top: 50px;
  }

  .bio-box a{
    font-size: 0.5em;
    color: var(--azul-escuro);
    text-decoration: underline;
  
  }
  
  svg{
    stroke:currentColor;
    fill:currentColor;
    stroke-width:0;
    height:1.2em;
    width:2em;
      }  
  
  .box-footer{
    padding: 20px 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.200);
    display: flexbox;
    justify-content: space-between;
  }
  
  .box-footer a{
    text-decoration: none;
    color: black;
  }

  .contact-desktop{
    display: none;
  }
  
  .contact-box{
    font-size: 3.5em;
    margin-right: 30px;
  }

  .contact-box a{
    font-weight: bold;
    color: var(--azul-escuro);
  }
  
  .see-profile-button{
    border: 1px solid black;
    padding: 3px 20px;
  }
  
  .see-profile-button:hover{
    background-color: var(--azul-escuro);
    color: white;
    border: 1px solid black;
    padding: 3px 20px;
    transition: 450ms;
  }
}

@media only screen and (min-width: 992px) {
  main{
    font-family: Calibri;
    background-color: white;
    height: 100vh;
  }
  
  .body{
    padding-bottom: 20px;
    background-color: white;
  }

  .dinamic-hr{
    border: 1px solid rgba(7, 7, 86, 0.686);
    font-size: 0.95em;
    text-align: center;
    padding: 9px;
    margin-top: -10px;
    border-radius: 0px;
    font-weight: 600;
    background-color: var(--azul-escuro);
    color: white;
  }
  
  .result-box{
    margin-bottom: 100px;
    width: 900px;
    margin: 20px auto;
    border: 0.5px solid rgba(0, 0, 0, 0.495);
    border-radius: 5px;
    box-shadow: 0px 0px 7px #00000016;
    background-color: white;
  }
  
  .header-result-box{
    padding: 20px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.200);
    height: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
  .header-result-box h1{
    font-size: 1.4em;
  }
  
  .header-result-box h2{
    font-size: 1.1em;
  }
  
  .box-body{
    padding: 20px;
    height: 200px;
    display: inline-flex;
    gap: 35px;
  }
  
  .profilepic-box{
    width: 100px;
    height: 125px;
    border-radius: 3px;
    background-size: cover;
  }
  
  .rating-box{
    text-align: center;
    width: 187px;
  }
  
  .stars{
    margin-top: 20px;
    color: gold;
    font-size: 1.3em;
  }
  
  .highlights-box{
    width: 130px;
  }
  
  .highlights-box h1{
    text-align: left;
  }
  
  .highlights-list{
    margin-top: 20px;
    margin-left: 17px;
  }
  
  .bio-box{
    margin: 0;
    text-align: left;
    padding: 0;
  }
  .bio-box ul  {
    margin-top: 20px;
    margin-left: 17px;
    font-size: 1em;
    color: black;
  }
  
  /* svg{
    stroke:currentColor;
    fill:currentColor;
    stroke-width:0;
    height:1.2em;
    width:2em;
      } */
  
  .box-footer{
    padding: 20px 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.200);
    display: flexbox;
    justify-content: space-between;
  }
  
  .box-footer a{
    text-decoration: none;
    color: black;
  }
    
  /* .contact-mobile{
    display: none;
  }

  .contact-box{
    font-size: 0.9em;
  }
  
  .contact-box a{
    font-weight: bold;
  }

  .contact-desktop{
    display: inline-flex;
    font-size: 1.3em;
  } */
  
  .see-profile-button{
    border: 1px solid black;
    padding: 5px 35px;
  
  }
  .see-profile-button:hover{
    background-color: var(--azul-escuro);
    color: white;
    border: 1px solid black;
    padding: 5px 35px;
    transition: 450ms;
  }
}