.resultados-exibidos{
  border: 2px solid rgba(7, 7, 86, 0.686);

  text-align: center;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--azul-escuro);
  color: white;
}

*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root{
  --azul-escuro: #0A4273;
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}

body{
  font-family: Calibri;
  background-color: whitesmoke;
}

#resultados{
  width: 100%;
}

.boxresultado{
  margin-bottom: 100px;
  width: 900px;
  margin: 20px auto;
  border: 1px solid rgba(0, 0, 0, 0.495);
  border-radius: 5px;
  box-shadow: 0px 0px 7px #00000078;
}

.boxcabecalho{
  padding: 20px 30px;
  border-bottom: 1px solid black;
  height: 70px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.boxcabecalho h1{
  font-size: 1.4em;
}

.boxcabecalho h2{
  font-size: 1.1em;
}

.boxcorpo{
  padding: 20px;
  height: 200px;
  display: inline-flex;
  gap: 35px;
}

.profilepic-box{
  width: 90px;
  height: 90px;
  border-radius: 5px;
  background-size: cover;
  background-image: url("../../Imagens/foto2.Sergio.sem_fundo.v2.jpg");
}

.avaliacao-box{
  text-align: center;
  margin-right: 40px;
}

.stars{
  margin-top: 20px;
}

.highlights-box{
  margin-right: 40px;
}

.highlights-box h1{
  text-align: left;
}

.lista-destaques{
  margin-top: 20px;
  margin-left: 17px;
}

.bio-box{
  max-width: 330px;
}

.boxrodape{
  padding: 20px 30px;
  border-top: 1px solid black;
  display: flexbox;
  justify-content: space-between;
}

.boxrodape a{
  text-decoration: none;
  color: black;
}

.contato{
  margin-right: 500px;
  font-size: 1.3em;
}

.ver-perfil{
  border: 1px solid black;
  padding: 5px 35px;

}

.ver-perfil:hover{
  background-color: var(--azul-escuro);
  color: white;
  border: 1px solid black;
  padding: 5px 35px;

}
